<title>DNA Secondary Structure</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" media="all" href="public/app.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js" integrity="sha256-jJlsVPlSwQyGokYi0JgmrFRihc7ILE3Id8AB0dpr0JA=" crossorigin="anonymous"></script>
<script src="public/app.js"></script>
