.controls {
  text-align: center;

  label {
    font-weight: bold;
  }

  input {
    font-family: 'Source Code Pro', monospace;
  }

  .input-sequence {
    width: 90vw;
  }

  .controls-colors {
    ul {
      list-style-type: none;
      list-style-position: inside;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
      }
    }
  }
}
