// Baseline Elemnets

body {
  background-color: $color-background;
  color: $color-color;
  font-family: 'Source Code Pro', monospace;
}

a {
  color: $sw-white;

  &:hover {
    color: $sw-white;
  }
}
